body{
	margin: 0;
	padding: 0;
}
.clear{
	overflow: hidden;
}
.container{
	width: 1200px;
	margin: auto;
}
.topbar{
	background-color: #19A2A9;
}
.contact-info{
	width: 60%;
	float: left;
}
.social-info{
	width: 30%;
	float: right;
}
.contact-info a{
	color: #FFFFFF;
	font-size: 18px;
	text-decoration: none;
}
.contact-info i{
	padding: 6px;
}
.social-info a{
	color: #FFFFFF;
	font-size: 18px;
	text-decoration: none;
}
.social-info i{
	padding: 6px;
}
.header{
	overflow: hidden;
}
.logo{
	width: 20%;
	float: left;
}
.logo img{
	height: 70px;
	width: 220px;
	padding: 10px;
}
.navbar{
	width: 75%;
	float: right;
}
.navbar a{
	float: left;
	font-size: 18px;
	padding: 30px;
	text-decoration: none;
	color: #19A2A9;
}
.dropdown{
	float: left;
}
.dropdown .btn-drop{
	font-size: 18px;
	color: #19A2A9;
	border: none;
	background-color: inherit;
	font-family: inherit;
	padding: 30px 16px;
}
.dropdown-content{
	display: none;
	position: absolute;
	color: #19A2A9;
	background-color: #FFFFFF;
}
.dropdown-content a{
	float: none;
	text-align: left;
	color: #19A2A9;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover{
    background-color: #DDDDDD;
}
.slider img{
	width: 100%;
	height: 400px;
}
.heading h2{
	text-align: center;
	color: #19A2A9;
	letter-spacing: 8px;
}
.about-text{
	width: 48%;
	float: left;
}
.about-img{
	width: 48%;
	float: right;
}
.about-img img{
	width: 100%;
	height: 400px;
}
.btn-about{
	background-color: #19A2A9;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
}
.about-text p{
	font-size: 18px;
	line-height: 26px;
	text-align: justify;
}
.service{
	width: 240px;
	float: left;
	margin: 14px;
	border: 1px solid #19A2A9;
	text-align: center;
	padding: 10px;
	border-radius: 25px;
}
.service i{
	font-size: 60px;
	color: #19A2A9;
}
.btn-service{
	background-color: #19A2A9;
	color: #FFFFFF;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
}
.service:hover{
	border-radius: 50px 20px;
	background-color: #19A2A9;
	color: #FFFFFF;
	transition: .8s;
}
.service:hover .btn-service{
	background-color: #FFFFFF;
	color: #19A2A9;
}
.service:hover i{
	color: #FFFFFF;
}