@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
	font-family: "Roboto" , sans-serif;
	line-height: 1.8;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 900 !important;
}
a{
	text-decoration: none;
	font-weight: 800;
	transition: all .4s;
}
.resturent-section{
	padding: 80px;
}
.navbar-brand img{
	height: 70px;
	width: 190px;
}
.carousel-item img{
	height: 550px;
}
.primary-title{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .5em;
}
.nav-link{
	font-weight: bold;
	margin: 0 10px;
}
.offer:hover{
	box-shadow: 0 0 10px o lightgray;
	transform: scale(1.1);
	transition: all .5s;
}
.menu img{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: 4px solid red;
}
.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #dc3545;
}