body{}
.contain{
	width: 1200px;
	margin: auto;
}
.banner{}
.banner img{
	height: 
}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{}
.content{}
.left{}
.left p{}
.right{}
.right p{}
.footer{}
.footer p{}